
/* DatePicker Container */
.ui-datepicker {
    background: #fff;
    border-collapse: collapse;
}

    .ui-datepicker a {
        text-decoration: none;
    }

.ui-datepicker-header {
    background: url(../images/shared/cal_th_repeat.jpg) repeat-x;
    color: #fff;
    font-weight: bold;
    padding: 8px 8px;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    height: 10px;
    width: 5px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
}

.ui-datepicker-prev {
    float: left;
     background-image: url('../Images/shared/year_prev.gif');

}

.ui-datepicker-next {
    float: right;
   background-image: url('../Images/shared/year_next.gif');
}

.ui-datepicker thead {
    color: #777777;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.ui-datepicker th {
    padding: 15px;
    font-size:15px
}

.ui-datepicker tbody td {
    color: #777777;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 9px;
    text-align: center;

}
   .ui-datepicker tbody td:last-child {
        border-right: 0px;
    }

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

    .ui-datepicker tbody tr:last-child {
        border-bottom: 0px;
    }

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
}

.ui-datepicker-calendar .ui-state-default {
}

.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background: #94b52c;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}
