table td,th {
    padding:5px;
    text-align:right;
}
.imgWell {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:2.5%;
    margin-bottom:2.5%;
    height:100%;
}
input {
    height:25px;
}
.formValues:valid {
          border-color:rgba(0,255,0,.7);
}
.formValues:invalid {
           border-color:rgba(255,0,0,0.7);
}

#MainContent_inventoryFormSubmit {
    width:120px;
}
#tblFormHeader {
    text-align:center;
}