table td,th {
    padding:5px;
    text-align:right;
}
.imgWell {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:2.5%;
    margin-bottom:2.5%;
    height:100%;
}
input {
    height:25px;
}
.editor-field input :valid {
          border-color:rgba(0,255,0,.7);
}
.editor-field input :invalid {
           border-color:rgba(255,0,0,0.7);
}

.editor-label {
    width:15%;
    margin-left:5%;
    flex:auto;
}
.editor-field {
    width:50%;
    margin-left:1%;
    flex:auto;
}

.display-label {
    margin-left:3%;
}
.display-field {
    margin-left:3%;
}

#MainContent_inventoryFormSubmit {
    width:120px;
}
#tblFormHeader {
    text-align:center;
}