<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>PinionStudios</MSDeployServiceURL>
    <DeployIisAppPath>PinionStudiosDev/psbizsuite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BizSuiteDBEntities" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=localhost;Initial Catalog=bizsuitedb;Persist Security Info=True;User ID=root;Password=root" Name="server=localhost;User Id=root; Password=root; Persist Security Info=True;database=bizsuitedb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="psbizsuite.Models.BizSuiteDBEntities, psbizsuite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BizSuiteDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.bizsuiteModel.csdl|res://*/Models.bizsuiteModel.ssdl|res://*/Models.bizsuiteModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=localhost;User Id=root; Password=root; Persist Security Info=True;database=bizsuitedb"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>